<h1>Забравена парола</h1>

<p>
  Забравили сте си паролата? Въведете email адреса, с който сте се регистрирали
  и очаквайте инструкции:
</p>

<%= simple_form_for resource, as: resource_name, url: password_path(resource_name), html: {method: :post} do |f| %>
  <%= f.error_notification %>
  <%= f.input :email, required: true, autofocus: true %>
  <%= f.button :submit, 'Изпрати' %>
<% end %>

