<div id="home-page">
  <h1>Здравейте!</h1>
  <p>
    Това е сайтът на избираемия курс "Употреба и скриптиране на Vim" към
    <abbr title="Факултет по Математика и Информатика">ФМИ</abbr> София.
  </p>

  <h2>Новини</h2>

  <%#
  #announcements= render @announcements

  - if @previous_sites.present?
    %h1 Сайтове на предишни издания на курса
    %p
      Ако търсите сайтовете на някои от предишните издания на курса, може да ги намерите тук:
    %ul
      - @previous_sites.each do |site|
        %li
          = site['name']
          &mdash;
          = link_to site['url'], "http://#{site['url']}"
        %>
