default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: vim_fmi_development
  username: andrew

test:
  <<: *default
  database: vim_fmi_test

production:
  <<: *default
  database: vim_fmi_production
  username: vim_fmi
  password: <%= ENV["VIM_FMI_DATABASE_PASSWORD"] %>
