<p>Здрасти <%= @resource.name %></p>

<p>
  Някой е поискал да смени паролата на потребителя ти в сайта на курса. Ако това не си
  ти, моля игнорирай това писмо.
</p>

<p>
  За да си подновиш паролата, ползвай
  <%= link_to 'този линк', edit_password_url(@resource, reset_password_token: @token) %>
</p>
