<div id="submission-guide">
  <h1>Свободни упражнения</h1>

  <p>
    Свободните упражнения могат да се създават от всеки и могат да се предават решения когато и да е, но не носят никакви точки. Целта е просто да имате някакво средство за практика или споделяне на решения, участието е напълно опционално. Страницата им е тук: <%= link_to 'Свободни упражнения', free_tasks_path %>.
  </p>

  <p>
    Инструкциите за предаване на решения са идентични на тези на нормалните упражнения, с тази разлика, че трябва да извикате command-line tool-а с командата "free" вместо със "put": <code>vim-fmi free &lt;token&gt;</code>. Може да си припомните инструкциите оттук: <%= link_to 'Инструкции за упражненията', task_guide_path %>.
  </p>

  <p>
    Нормалните упражнения, които вече са затворени, са копирани като "свободни" такива. Скоро ще приготвя и автоматичен механизъм, който да създава свободно упражнение когато изтече някое ново нормално упражнение. Можете и да си публикувате ваши, но имайте предвид няколко условия:

    <ul>
      <li>Не може да създадете упражнение с етикет <code>Упражнение \d\+</code>, за предпочитане сложете етикет, който описва задачата по някакъв начин.</li>
      <li>Веднъж като създадете задача, не можете да ѝ редактирате входния и изходния файл. Това е така, за да се избегнат несъответствия между задачата и решенията. Можете да редактирате другите полета.</li>
      <li>Целта на упражненията е да споделите някоя интересна задача с колегите си. Няма проблеми да се шегувате, но не прекалявайте с шитпостинга. Ще модерирам, ако се наложи.</li>
      <li>Запазвам си правото да открадна някое упражнение за нормалните такива, може би с някакви модификации. Чувствайте се свободни да вземете и задача от vimgolf, ако си намерите нещо интересно.</li>
    </ul>
  </p>

  <p>
    В бъдеще може и да направя свободните упражнения малко по-удобни за "състезателите", но за момента нещата са горе-долу както нормалните упражнения.
  </p>
</div>
