<div id="submission-guide">
  <h1>Предаване на упражнения</h1>

  <p>
    Тук ще намерите информация за това как да си пускате решения на упражненията
    и какво и как да споделяте с колеги.
  </p>

  <h2>Инсталация и настройки</h2>

  <p>
    TODO
  </p>

  <h2>Предаване на задачите</h2>

  <p>
    TODO
  </p>
</div>
